@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*font-family: 'Merriweather', serif;*/
/*
#D9D9D9 cinza
#0070be azul escuro
#35a2f0 azul medio
#71bef5 azul claro
#6E3700 marrom
*/

html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%; /* */
    height: 5rem; /*Tamanho do header*/
    display: flex; /*Torna o conteúdo flexível*/
    justify-content: center; /*alinha horizontamente no centro */
    align-items: center; /*alinha verticalmente no centro */
    font-size: 2rem; /*Tamanho da fonte do header */
    border-bottom: 0.1rem solid black; /*Cria uma borda na parte de baixo */
    background-color: #0070be;
}

.hamb{
    position: absolute; 
    top: 1rem; 
    left: 1rem; 
    width: 3rem; 
}

.profile{
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    width: 3rem; 
}

.botao{
    border: 0.1rem solid black;
    padding: 1rem;
    font-size: 2rem;
    background-color: #71bef5;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.titulo{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: #6E3700;
}


li{
    font-size: 4rem;
    
}

a{
    text-decoration: none; 
    color: inherit; 
    background-color: transparent; 
}

.img{
    width: 5rem;
}

h1{
    color: black;
    font-family: 'Charmonman', cursive;
    font-weight: 1000;
    font-size: 3rem;
}