@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*font-family: 'Merriweather', serif;*/
/*
#D9D9D9 cinza
#0070be azul escuro
#35a2f0 azul medio
#71bef5 azul claro
#6E3700 marrom
*/

html, body{
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}

main {
    height: 70%;
    width: 70%;
    background-color: #0070be;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

footer{
    width: 70%;
    height: 12.5%;
    background-color: #0070be;
    font-size: 3rem;
    padding: 1rem;
}

h1 {
    height: 100%;
    width: 70%;
    background-color: #0070be;
    font-size: 4rem;
    padding: 1rem;
    font-family: 'Charmonman', cursive;
    font-weight: 800;
}

p{
    padding-bottom: 1rem;
    color: #6E3700;
    font-family: 'Merriweather', serif;
}

.opacidade{
    opacity: 75%;
}

a{
    text-decoration: none; 
    color: inherit; 
    background-color: transparent; 
}